<form class="form">
    <fieldset class="input-group" [class.error]="nameError">
      <legend class="floating-label">Title</legend>
      <input
        type="text"
        [(ngModel)]="name"
        name="name"
        placeholder=""
        class="input-field"
        id="title"
        (input)="onInputChange()"
      />
      <div *ngIf="nameError" class="error-message">{{ nameError }}</div>
    </fieldset>
  
    <fieldset class="input-group" [class.error]="dateError">
      <legend class="floating-label">Date</legend>
      <input
        type="datetime-local"
        [(ngModel)]="date"
        name="date"
        class="input-field"
        id="date"
        (input)="onInputChange()"
      />
      <div *ngIf="dateError" class="error-message">{{ dateError }}</div>
    </fieldset>
  </form>
  